@media (max-width: 1023px) {
  .save {
    text-align: center;
    font-size: 80px;
    padding-top: 150px;
  }
  .save span {
    font-size: 100px;
  }
  .save__text {
    max-width: 700px;
    margin-top: 200px;
    font-size: 14px;
    line-height: 1.5;
  }

  .save__text1 {
    max-width: 1200px;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
  }

  .hero2 {
    height: 350px;
  }

  .organization__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  /* nav */
  .nav {
    width: 100%;
    height: 100vh;

    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background-color: #607b83;
  }

  .nav.active {
    display: block;
  }

  .nav-link {
    display: block;
    margin: 0;
    padding: 8px 20px;
  }

  .nav-link::after {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  // .organization__list {
  //   grid-template-columns: repeat(2, 1fr);
  //   grid-template-rows: repeat(2, 1fr);
  // }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 24px;
  }
  .save {
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
  }
  .save span {
    font-size: 90px;
  }
  .save__text {
    max-width: 350px;
    margin-top: 150px;
    font-size: 14px;
    line-height: 1.5;
  }
  .save__text1 {
    width: 350px;
  }

  .reviews-item,
  .reviews {
    padding: 0;
  }

  .reviews-photo,
  .reviews-photo1,
  .reviews-photo2,
  .reviews-photo3,
  .reviews-photo4 {
    display: none;
  }

  .reviews-text {
    font-size: 22px;
    padding: 0 30px;
  }
  .reviews-author {
    font-size: 20px;
    margin: 0 auto;
  }

  .lb-prev,
  .lb-next {
    width: 20px;
    height: 20px;
  }
  .lb-prev {
    left: 15px;
  }
  .lb-next {
    right: 15px;
  }
  .lb-data .lb-close {
    width: 20px;
    height: 20px;
  }

  .full-screen__title {
    text-align: center;
    font-size: 50px;
  }
  .full-screen__text {
    max-width: 350px;
    text-align: center;
    font-size: 24px;
    padding: 0;
  }

  .footer__inner {
    flex-direction: column;
  }
  .organization__item.repeat {
    display: block;
  }
}

@media (max-width: 380px) {
  .section-title {
    font-size: 20px;
  }
  .save {
    text-align: center;
    font-size: 50px;

    padding-top: 80px;
  }
  .save span {
    font-size: 70px;
  }
  .save__text1 {
    width: 300px;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
  }

  .hero2 {
    height: 250px;
  }

  .reviews {
    display: none;
  }
  .slider {
    display: none;
  }

  .section.gallery-m {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 413px) and (max-width: 415px) {
  .save {
    font-size: 50px;
    padding-top: 100px;
  }
  .save__text {
    margin-top: 180px;
  }
}

@media (min-width: 768px) {
  .organization__item.repeat {
    display: none;
  }
}
