.animate__animated.animate__backInDown,
.animate__animated.animate__backInLeft,
.animate__animated.animate__backInRight {
  --animate-duration: 1s;
}

.animate__animated.animate__fadeInRight,
.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s;
}

.animate__animated.animate__flipInX {
  --animate-duration: 2s;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}
.animate__animated.fadeInUp {
  --animate-duration: 3s;
}
