.animate__animated.animate__backInDown,
.animate__animated.animate__backInLeft,
.animate__animated.animate__backInRight {
  --animate-duration: 1.5s;
}

.animate__animated.animate__fadeInRight,
.animate__animated.animate__fadeInLeft {
  --animate-duration: 3s;
}

.animate__animated.animate__flipInX {
  --animate-duration: 3s;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 3.5s;
}
.animate__animated.animate__animate__tada {
  --animate-duration: 4s;
}
