.footer-section {
  width: 100%;
  background-color: #607b83;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

.block-wrapper {
  display: flex;
}

.footer__inner {
  display: flex;
}

.footer__block {
  text-align: center;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer__address {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}

.footer__text {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}

/* Copyright */

.copyright {
  padding: 30px 0 0;
  background-color: #607b83;
}

.copyright__text {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
}

.copyright__text span {
  color: #fce38a;
}

.address__link {
  font-family: inherit;
  font-style: italic;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover,
.address__link:focus {
  color: #fce38a;
}
