.hero1 {
  width: 100%;
  height: 100vh;
  display: flex;
  // background-image: url(../images/hero1.jpg);
  background-size: cover;
  -webkit-background-size: cover; /* Safari/Chrome */
  -moz-background-size: cover; /* Firefox */
  -o-background-size: cover; /* Opera */

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero2 {
  width: 100%;
  height: 450px;
  background-image: url(../images/octopus.jpg);
  background-size: cover;
  -webkit-background-size: cover; /* Safari/Chrome */
  -moz-background-size: cover; /* Firefox */
  -o-background-size: cover; /* Opera */

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero3 {
  width: 100%;
  height: 100vh;
  // background-image: url(../images/ocean1.jpg);
  background-size: cover;
  -webkit-background-size: cover; /* Safari/Chrome */
  -moz-background-size: cover; /* Firefox */
  -o-background-size: cover; /* Opera */

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  top: 0;
  left: 0;
  overflow: auto;
}

.hero4 {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url(../images/bgstories.jpg);
  background-size: cover;
  -webkit-background-size: cover; /* Safari/Chrome */
  -moz-background-size: cover; /* Firefox */
  -o-background-size: cover; /* Opera */
  -ms-background-size: cover; /* Internet Explorer */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.save {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  color: white;
  font-weight: 900;
  font-size: 100px;
  line-height: 1;
  backdrop-filter: blur(10px);
  padding: 0 50px 0;
}

.save span {
  font-weight: 900;
  font-style: italic;
  font-size: 160px;
}

.save__text {
  // position: absolute;
  // bottom: 0;

  max-width: 1000px;
  color: #fff;
  backdrop-filter: blur(10px);
  font-size: 18px;
  display: block;
  text-align: center;
}

.save__text1 {
  display: inline-block;
  position: absolute;

  max-width: 1000px;
  padding: 50px;
  font-size: 18px;
  color: #fff;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background-color: rgba(0, 70, 110, 0.4);
  backdrop-filter: blur(10px);
  text-align: center;
}

//Navigation

.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav-link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;

  color: #fff;
  text-decoration: none;

  transition: color 0.1s linear;
}

.nav-link:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;

  background-color: #fce38a;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity 0.1s linear;
}

.nav-link:hover {
  color: #fce38a;
}

.nav-link:hover:after,
.nav-link.active:after {
  opacity: 1;
}

.nav-link.active {
  color: #fce38a;
}

/* Header */
.header {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  backdrop-filter: blur(10px);
  background-color: rgba(0, 70, 110, 0.1);
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
}

.header.fixed {
  gap: 70px;
  // padding: 10px 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translate3d(0, 0, 0);

  transition: all 0.3s ease-in-out;
  color: #fff;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 70, 110, 0.3);
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);

  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.header.active {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 70, 110, 0.1);
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

/* nav-toggle */

.nav-toggle {
  width: 30px;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  padding: 10px 0;
  background: none;
  outline: none;
  border: 0;
  cursor: pointer;
  display: none;
}

.nav-toggle-item {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: background 0.2s linear;
}

.nav-toggle.active .nav-toggle-item {
  background: none;
}

.nav-toggle.active .nav-toggle-item::before {
  transform-origin: top left;
  transform: rotate(45deg) translateX(-2px);
}
.nav-toggle.active .nav-toggle-item::after {
  transform-origin: bottom left;
  transform: rotate(-45deg) translateX(-3px);
}

.nav-toggle-item::before,
.nav-toggle-item::after {
  width: 100%;
  height: 3px;
  content: '';
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: #fff;
  transition: transform 0.2s linear;
}

.nav-toggle-item::before {
  top: -8px;
}

.nav-toggle-item::after {
  bottom: -8px;
}

.burger {
  display: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 20px 10px;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #ffffff;

  font-size: 0;
  color: transparent;
  position: relative;
}

.intro {
  width: 100%;
}

.container-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
