.social {
  display: flex;
  margin-left: auto;
  justify-content: center;

  gap: 5px;
}

.social__link {
  display: block;
  color: #fff;
  padding: 12px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // color: #607b83;

  &:hover,
  &:focus {
    background-color: #fce38a;
    color: #607b83;
    fill: #607b83;
  }
}

.social__icon {
  display: block;
  fill: currentColor;

  fill: currentColor;
  // color: white;
  width: 25px;
  height: 25px;

  justify-content: center;
  align-items: center;
  transition: color 0.1s linear, border-color 0.1s linear;
  display: flex;
}

.social__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}
