<div class="container">
  <div class="footer__inner">
    <div class="footer__block">
      <h4 class="footer__title">Location</h4>
      <address class="footer__address">
        <p class="footer__text">3481 Melrose Place</p>
        <p class="footer__text">Beverly Hills, CA 90210</p>
      </address>
    </div>
    <div class="footer__block">
      <h4 class="footer__title">Share With Love</h4>
      <div class="social social--footer">
        <a href="#" class="social__item">
          <svg class="soc__icon" width="20" height="20">
            <use href="./images/social-defs.svg#icon-insta"></use>
          </svg>
        </a>
        <a href="#" class="social__item">
          <svg class="soc__icon" width="20" height="20">
            <use href="./images/social-defs.svg#icon-twit"></use>
          </svg>
        </a>
        <a href="#" class="social__item">
          <svg class="soc__icon" width="20" height="20">
            <use href="./images/social-defs.svg#icon-face"></use>
          </svg>
        </a>
        <a href="#" class="social__item">
          <svg class="soc__icon" width="20" height="20">
            <use href="./images/social-defs.svg#icon-lkdl"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="footer__block">
      <h4 class="footer__title">The Ocean</h4>
      <div class="footer__text">
        <p>3481 Melrose Place</p>
        <p>Beverly Hills, CA 90210</p>
      </div>
    </div>
  </div>
</div>

<!-- Copyright -->
<div class="copyright">
  <div class="container">
    <div class="copyright__text">
      <p>Copyright 2023 TheOcean. All Rights Reserved</p>
      <p>Made with love <span>by Inna Mykytiuk</span></p>
    </div>
  </div>
</div>
