<div class="container">
  <div class="footer__inner">
    <div class="block-wrapper">
      <div class="footer__block">
        <h4 class="footer__title">Contact us</h4>
        <div class="footer__text">
          <a href="mailto:info@devstudio.com" class="address__link"
            >info@devstudio.com</a
          >
          <a href="tel:+380961111111" class="address__link"
            >+38 096 111 11 11</a
          >
          <p class="footer__text">3481 Melrose Place</p>
          <p class="footer__text">Beverly Hills, CA 90210</p>
          <!-- <h4 class="footer__title">Location</h4>
          <address class="footer__address">
            <p class="footer__text">3481 Melrose Place</p>
            <p class="footer__text">Beverly Hills, CA 90210</p>
          </address> -->
        </div>
      </div>
      <div class="footer__block">
        <h4 class="footer__title">Share With Love</h4>
        <ul class="social">
          <li class="social__item">
            <a class="social__link" href="/" aria-label="іконка">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/social-defs.svg#icon-insta"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="/" aria-label="іконка">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/social-defs.svg#icon-twit"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="/" aria-label="іконка">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/social-defs.svg#icon-face"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="/" aria-label="іконка">
              <svg class="social__icon" width="40" height="40">
                <use href="./images/social-defs.svg#icon-lkdl"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Footer-form -->
    <form class="footer-form">
      <p class="footer__title">Subscribe to the newsletter</p>
      <label class="footer-form__field">
        <input type="text" placeholder="E-mail" class="footer-form__input" />
        <a href="" class="footer-form__link" aria-label="іконка">
          Subscribe
          <svg class="footer-form__icon" width="24" height="24">
            <use href="./images/form-defs.svg#icon-icon_send"></use>
          </svg>
        </a>
      </label>
    </form>
  </div>
</div>

<!-- Copyright -->
<div class="copyright">
  <div class="container">
    <div class="copyright__text">
      <p>Copyright 2023 TheOcean. All Rights Reserved</p>
      <p>Made with love <span>by Inna Mykytiuk</span></p>
    </div>
  </div>
</div>
