<div class="gallery">
  <a
    class="gallery__link"
    href="./images/ocean3.jpg"
    data-lightbox="model"
    data-title="Ocean"
  >
    <img class="lazyload" data-src="./images/ocean3.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">The Ocean</h4>
      <p class="gallery__text">
        Vast body of saltwater that covers 70% of Earth, vital to life on our
        planet.
      </p>
    </div>
  </a>
  <a
    class="gallery__link"
    href="./images/octopus.jpg"
    data-lightbox="model"
    data-title="Octopus"
  >
    <img class="lazyload" data-src="./images/octopus.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Octopus</h4>
      <p class="gallery__text">
        Intelligent, versatile cephalopod with eight arms and remarkable
        problem-solving abilities.
      </p>
    </div>
  </a>
  <a
    class="gallery__link"
    href="./images/jellyfish4.jpg"
    data-lightbox="model"
    data-title="Jellyfish"
  >
    <img class="lazyload" data-src="./images/jellyfish4.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Jellyfish</h4>
      <p class="gallery__text">
        Gelatinous creatures that float in the ocean, known for their beautiful
        pulsing lights.
      </p>
    </div>
  </a>
  <a
    class="gallery__link"
    href="./images/fish.jpg"
    data-lightbox="model"
    data-title="Fish"
  >
    <img class="lazyload" data-src="./images/fish.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Anemones</h4>
      <p class="gallery__text">
        Stinging, tentacled creatures that live in the ocean, often associated
        with clownfish.
      </p>
    </div>
  </a>
  <a
    class="gallery__link"
    href="./images/jelly1.jpg"
    data-lightbox="model"
    data-title="Jellyfish"
  >
    <img class="lazyload" data-src="./images/jelly1.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Jellyfish</h4>
      <p class="gallery__text">
        Gelatinous creatures that float in the ocean, known for their beautiful
        pulsing lights.
      </p>
    </div>
  </a>
  <a
    class="gallery__link"
    href="./images/fish2.jpg"
    data-lightbox="model"
    data-title="Under Water"
  >
    <img class="lazyload" data-src="./images/fish2.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Sea fish</h4>
      <p class="gallery__text">
        Diverse group of aquatic creatures that inhabit the ocean, including
        many commercial species.
      </p>
    </div>
  </a>
  <a
    class="gallery__link"
    href="./images/oceanlife.jpg"
    data-lightbox="model"
    data-title="Under Water"
  >
    <img class="lazyload" data-src="./images/oceanlife.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Sea rays</h4>
      <p class="gallery__text">
        Flat-bodied, winged fish that swim in ocean waters, known for their
        graceful movements.
      </p>
    </div>
  </a>
  <a
    class="gallery__link"
    href="./images/underwater1.jpg"
    data-lightbox="model"
    data-title="Under Water"
  >
    <img class="lazyload" data-src="./images/underwater1.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Plankton</h4>
      <p class="gallery__text">
        Tiny organisms that float in the ocean and form the base of the marine
        food chain.
      </p>
    </div>
  </a>
</div>
