<div class="gallery">
  <a
    class="gallery__link wow animate__animated animate__fadeIn"
    href="./images/ocean3.jpg"
    data-lightbox="model"
    data-title="Ocean"
  >
    <img class="lazyload" data-src="./images/ocean3.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">The Ocean</h4>
      <p class="gallery__text">
        Vast body of saltwater that covers 70% of Earth, vital to life on our
        planet.
      </p>
    </div>
  </a>
  <a
    class="gallery__link wow animate__animated animate__fadeIn"
    href="./images/octopus2.jpg"
    data-lightbox="model"
    data-title="Octopus"
  >
    <img class="lazyload" data-src="./images/octopus2.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Octopus</h4>
      <p class="gallery__text">
        Intelligent, versatile cephalopod with eight arms and remarkable
        problem-solving abilities.
      </p>
    </div>
  </a>
  <a
    class="gallery__link wow animate__animated animate__fadeIn"
    href="./images/jellyfish4.jpg"
    data-lightbox="model"
    data-title="Jellyfish"
  >
    <img class="lazyload" data-src="./images/jellyfish4.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Jellyfish</h4>
      <p class="gallery__text">
        Gelatinous creatures that float in the ocean, known for their beautiful
        pulsing lights.
      </p>
    </div>
  </a>
  <a
    class="gallery__link wow animate__animated animate__fadeIn"
    href="./images/fish.jpg"
    data-lightbox="model"
    data-title="Fish"
  >
    <img class="lazyload" data-src="./images/fish.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Anemones</h4>
      <p class="gallery__text">
        Stinging, tentacled creatures that live in the ocean, often associated
        with clownfish.
      </p>
    </div>
  </a>
  <a
    class="gallery__link wow animate__animated animate__fadeIn"
    href="./images/jelly1.jpg"
    data-lightbox="model"
    data-title="Jellyfish"
  >
    <img class="lazyload" data-src="./images/jelly1.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Jellyfish</h4>
      <p class="gallery__text">
        Gelatinous creatures that float in the ocean, known for their beautiful
        pulsing lights.
      </p>
    </div>
  </a>
  <a
    class="gallery__link wow animate__animated animate__fadeIn"
    href="./images/fish2.jpg"
    data-lightbox="model"
    data-title="Under Water"
  >
    <img class="lazyload" data-src="./images/fish2.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Sea fish</h4>
      <p class="gallery__text">
        Diverse group of aquatic creatures that inhabit the ocean, including
        many commercial species.
      </p>
    </div>
  </a>
  <a
    class="gallery__link wow animate__animated animate__fadeIn"
    href="./images/oceanlife.jpg"
    data-lightbox="model"
    data-title="Under Water"
  >
    <img class="lazyload" data-src="./images/oceanlife.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Sea rays</h4>
      <p class="gallery__text">
        Flat-bodied, winged fish that swim in ocean waters, known for their
        graceful movements.
      </p>
    </div>
  </a>
  <a
    class="gallery__link wow animate__animated animate__fadeIn"
    href="./images/underwater1.jpg"
    data-lightbox="model"
    data-title="Under Water"
  >
    <img class="lazyload" data-src="./images/underwater1.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Plankton</h4>
      <p class="gallery__text">
        Tiny organisms that float in the ocean and form the base of the marine
        food chain.
      </p>
    </div>
  </a>
  <a
    class="gallery__link hidden1 wow animate__animated animate__fadeIn"
    href="./images/stringray.jpg"
    data-lightbox="model"
    data-title="Under Water"
  >
    <img class="lazyload" data-src="./images/stringray.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Sea rays</h4>
      <p class="gallery__text">
        Flat-bodied, winged fish that swim in ocean waters, known for their
        graceful movements.
      </p>
    </div>
  </a>
  <a
    class="gallery__link hidden2 wow animate__animated animate__fadeIn"
    href="./images/dragonfish.jpg"
    data-lightbox="model"
    data-title="Under Water"
  >
    <img class="lazyload" data-src="./images/dragonfish.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Lion Fish</h4>
      <p class="gallery__text">
        The lionfish is a venomous marine fish native to the Indo-Pacific region
        that has distinctive red, white, and black stripes and long, showy fins.
      </p>
    </div>
  </a>
  <a
    class="gallery__link hidden3 wow animate__animated animate__fadeIn"
    href="./images/dolphins.jpg"
    data-lightbox="model"
    data-title="Under Water"
  >
    <img class="lazyload" data-src="./images/dolphins.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Dolphins</h4>
      <p class="gallery__text">
        Dolphins are highly intelligent marine mammals that are known for their
        playful behavior, acrobatic skills, and signature clicking and whistling
        vocalizations.
      </p>
    </div>
  </a>
  <a
    class="gallery__link hidden3 wow animate__animated animate__fadeIn"
    href="./images/whale.jpg"
    data-lightbox="model"
    data-title="Under Water"
  >
    <img class="lazyload" data-src="./images/whale.jpg" loading="lazy" />
    <div class="gallery__content">
      <h4 class="gallery__title">Whales</h4>
      <p class="gallery__text">
        Whales are large aquatic mammals that live in the world's oceans and use
        echolocation to communicate and navigate underwater.
      </p>
    </div>
  </a>
</div>
