<header class="header" id="header">
  <div class="container">
    <div class="header-inner">
      <a href="./index.html" class="header-logo">Ocean</a>
      <div class="nav" id="nav">
        <a href="./index.html" class="nav-link">Home</a>
        <a href="/src/stories.html" class="nav-link">Stories</a>
        <a href="#gallery" class="nav-link">Gallery</a>
        <a href="#scientists" class="nav-link">Quotes</a>
        <a href="#organization" class="nav-link">Organizations</a>
        <a href="#contacts" class="nav-link" data-scroll="#contacts"
          >Contacts</a
        >
      </div>
      <button class="nav-toggle" id="nav_toggle" type="button">
        <span class="nav-toggle-item"></span>
      </button>
    </div>
  </div>
</header>

<div class="hero1" id="intro">
  <div class="container container-hero">
    <h1 class="save" id="home">Save the<span> Ocean</span></h1>
    <p class="save__text">
      Once upon a time, the earth was just a hot, molten ball of fire. But as it
      cooled, the continents took shape and the oceans arose. The ocean was born
      from the rain that fell on the young earth and was slowly gathered into
      vast bodies of water. Over millions of years, the ocean gave birth to
      countless species of animals and plants, making it a kingdom of wonder and
      diversity. The ocean is not just a body of water, but a vital part of the
      earth that sustains life. It provides the air we breathe, the weather
      patterns that shape our world, and the food we eat. It also supports
      countless industries, from fishing to tourism, and is home to countless
      species of plants and animals.
    </p>
  </div>
</div>
<div class="hero2"></div>
<div class="hero3">
  <div class="container">
    <p class="save__text1">
      The ocean is a source of beauty, inspiration, and mystery, a place where
      we can escape the chaos of the world and find peace. However, the ocean is
      facing many challenges, from climate change to pollution and overfishing.
      It is up to us, the humans, to protect this magnificent kingdom and ensure
      its survival for future generations. We can do this by reducing our carbon
      footprint, properly disposing of waste, and advocating for stronger ocean
      conservation laws. We can also support organizations that work to protect
      the ocean and its inhabitants. If we all work together, we can save the
      ocean and preserve its magic and wonder for generations to come.
    </p>
  </div>
</div>
