<div class="container">
  <div class="music-box">
    <button class="music-box__btn">
      <svg class="music__icon" width="106" height="60">
        <use href="./images/ocean-icons.svg#icon-dolphin"></use>
      </svg>
    </button>
    <button class="music-box__btn">
      <svg class="music__icon" width="106" height="60">
        <use href="./images/ocean-icons.svg#icon-gull"></use>
      </svg>
    </button>
    <button class="music-box__btn">
      <svg class="music__icon" width="106" height="60">
        <use href="./images/ocean-icons.svg#icon-seal"></use>
      </svg>
    </button>
    <button class="music-box__btn">
      <svg class="music__icon" width="106" height="60">
        <use href="./images/ocean-icons.svg#icon-turtle"></use>
      </svg>
    </button>
    <button class="music-box__btn">
      <svg class="music__icon" width="106" height="60">
        <use href="./images/ocean-icons.svg#icon-wave"></use>
      </svg>
    </button>
    <button class="music-box__btn">
      <svg class="music__icon" width="106" height="60">
        <use href="./images/ocean-icons.svg#icon-whale"></use>
      </svg>
    </button>
  </div>
</div>
