<div class="container">
  <ul class="music-box__list">
    <li class="musik-box__item">
      <button class="music-box__btn wow animate__animated animate__shakeX">
        <audio id="dolphin" src="./sound/dolphin.mp3"></audio>
        <svg class="music__icon" width="106" height="60">
          <use href="./images/ocean-icons.svg#icon-dolphin"></use>
        </svg>
      </button>
    </li>
    <li class="music-box__item">
      <button class="music-box__btn wow animate__animated animate__shakeX">
        <audio id="gulls" src="./sound/gulls.mp3"></audio>
        <svg class="music__icon" width="106" height="60">
          <use href="./images/ocean-icons.svg#icon-gull"></use>
        </svg>
      </button>
    </li>
    <li class="music-box__item">
      <button class="music-box__btn wow animate__animated animate__shakeX">
        <audio id="seal" src="./sound/seal.mp3"></audio>
        <svg class="music__icon" width="106" height="60">
          <use href="./images/ocean-icons.svg#icon-seal"></use>
        </svg>
      </button>
    </li>
    <li class="music-box__item">
      <button class="music-box__btn wow animate__animated animate__shakeX">
        <audio id="turtle" src="./sound/turtle.mp3"></audio>
        <svg class="music__icon" width="106" height="60">
          <use href="./images/ocean-icons.svg#icon-turtle"></use>
        </svg>
      </button>
    </li>
    <li class="music-box__item">
      <button class="music-box__btn wow animate__animated animate__shakeX">
        <audio id="ocean" src="./sound/ocean.mp3"></audio>
        <svg class="music__icon" width="106" height="60">
          <use href="./images/ocean-icons.svg#icon-wave"></use>
        </svg>
      </button>
    </li>
    <li class="music-box__item">
      <button class="music-box__btn wow animate__animated animate__shakeX">
        <audio id="whale" src="./sound/whale.mp3"></audio>
        <svg class="music__icon" width="106" height="60">
          <use href="./images/ocean-icons.svg#icon-whale"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
