<div class="organization-wrapper">
  <div class="container">
    <ul class="organization__list">
      <li class="organization__item wow animate__animated animate__flipInX">
        <a
          class="organization__link"
          href="https://oceanconservancy.org/"
          aria-label="іконка"
        >
          <svg class="organization__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-conservansy"></use>
          </svg>
        </a>
      </li>
      <li class="organization__item wow animate__animated animate__flipInX">
        <a
          class="organization__link"
          href="https://sdgs.un.org/partnerships/global-ocean-refuge-system"
          aria-label="іконка"
        >
          <svg class="organization__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-globaloceanrefuge"></use>
          </svg>
        </a>
      </li>
      <!-- <li class="organization__item">
        <a
          class="organization__link"
          href="https://oceana.org/"
          aria-label="іконка"
        >
          <svg class="organization__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-oceana"></use>
          </svg>
        </a>
      </li> -->
      <li
        class="organization__item repeat wow animate__animated animate__flipInX"
      >
        <a
          class="organization__link"
          href="https://sdgs.un.org/partnerships/global-ocean-refuge-system"
          aria-label="іконка"
        >
          <svg class="organization__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-globaloceanrefuge"></use>
          </svg>
        </a>
      </li>
      <li class="organization__item wow animate__animated animate__flipInX">
        <a
          class="organization__link"
          href="https://www.surfrider.org/"
          aria-label="іконка"
        >
          <svg class="organization__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-surfrider"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
