<div class="container">
  <div class="section-header">
    <h3 class="section-suptitle wow animate__animated animate__backInDown">
      What we do
    </h3>
    <h2 class="section-title wow animate__animated animate__backInLeft">
      "Protecting the Oceans: The Vital Role of Ocean Conservation
      Organizations"
    </h2>
  </div>
  <div class="section-text wow animate__animated animate__backInRight">
    <p>
      Ocean conservation organizations work to protect the health and diversity
      of marine ecosystems. Their efforts include reducing ocean pollution,
      protecting endangered species, promoting sustainable fishing practices,
      and advocating for ocean conservation policies. By educating the public
      and working with governments, these organizations play a critical role in
      preserving the world's oceans for future generations.
    </p>
  </div>
</div>
