<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="reviews">
        <div class="reviews-item">
          <!-- <img
                      class="reviews-photo"
                      src="./images/montale.jpg"
                      width="200"
                      alt=""
                    /> -->
          <span class="reviews-photo"></span>
          <div class="reviews-text">
            "The ocean is a central image. It is the symbolism of a great
            journey."
          </div>
          <div class="reviews-author">Eugenio Montale</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="reviews">
        <div class="reviews-item">
          <span class="reviews-photo1"></span>
          <div class="reviews-text">
            "The sea, once it casts its spell, holds one in its net of wonder
            forever."
          </div>
          <div class="reviews-author">Jacques Cousteau</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="reviews">
        <div class="reviews-item">
          <span class="reviews-photo2"></span>
          <div class="reviews-text">
            "The ocean stirs the heart, inspires the imagination and brings
            eternal joy to the soul."
          </div>
          <div class="reviews-author">Robert Wyland</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="reviews">
        <div class="reviews-item">
          <span class="reviews-photo3"></span>
          <div class="reviews-text">
            "In every outthrust headland, in every curving beach, in every grain
            of sand there is the story of the earth."
          </div>
          <div class="reviews-author">Rachel Carson</div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="reviews">
        <div class="reviews-item">
          <span class="reviews-photo4"></span>
          <div class="reviews-text">"The ocean is a mighty harmonist."</div>
          <div class="reviews-author">William Wordsworth</div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>
