<div class="wrapper">
  <div class="full-screen">
    <div class="full-screen__body">
      <div class="full-screen__title">The Ocean</div>
      <div class="full-screen__text">
        "The ocean is a whisper in your ear, reminding you of the beauty and
        power of the world you come from."
      </div>
    </div>

    <video
      autoplay
      muted
      loop
      preload="auto"
      poster="./images/whale.jpg"
      class="full-screen__video"
    >
      <source src="./images/oceanwaves.webm" type="video/webm" />
      <source src="./images/oceanwaves.mp4" type="video/mp4" />
    </video>
    <!-- <video
      class="full-screen__video"
      src="./images/oceanwaves.webm"
      autoplay
      muted
      loop
    ></video> -->
  </div>
</div>
